<section class="main-title d-flex align-items-center">
    <div class="overlay"></div>
    <div class="main-title-content container-xl">
        <div class="row">
            <h1 class="raj text-center">Para você, MULHER!</h1>
        </div>
    </div>
</section>
<section class="main-content">
    <div class="container-xl">
        <div class="row">
            <h2 class="raj text-center">O mercado de TI espera por você!</h2>
            <div class="col-6">
                teste
            </div>
            <div class="col-6">
                <div class="img-candidatas">
                    <img src="/assets/img/candidatas.svg">
                </div>
            </div>
        </div>
    </div>
</section>