/*CSS Projeto Integrador - Emprega Elas*/

body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #555;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0 0 15px;
    padding: 0;
}

h1.margin-0 h2.margin-0, h3.margin-0, h4.margin-0, h5.margin-0, h6.margin-0 {
	margin: 0;
}

h1, h2, h3  {
	line-height: 1.2em;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
}

h4, h5, h6 {
    line-height: 1.3em;
}

h1, h2, h3, h4, h5, h6  {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
}

h1.cap, h2.cap, h3.cap, h4.cap, h5.cap, h6.cap {
    text-transform: capitalize;
}

h1 {
    font-size: 3em;    
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h5 {
    font-size: 1.8em;
}

h6 {
    font-size: 1.5em;
}

p {
	line-height: 1.5em;
}

p:last-child {
	margin: 0 !important;
}

ul {
	margin: 0;
    padding: 0;
    list-style: none;
}

li {
	margin: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    transition: .3s;
}

*::placeholder {
    color: rgba(84, 84, 84, 0.75);
    font-size: 0.75em;
    font-style: italic;
}

span.chaves {
    position: relative;
    top: -0.05em;
}

.form-control {
    border: none;
}

header {
    background: #A36986;
    padding: 0 15px;
}

a.botao-1 {
    padding: 13px 30px 10px;
    margin-top: 15px;
    background: #A36986;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 5px;
    width: fit-content;
}

a.botao-1:hover {
    background: #AE9BBA;
}

a.botao-2 {
    padding: 13px 30px 10px;
    margin-top: 15px;
    background:#fff;
    color:#555;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    width: fit-content;
}

a.botao-2:hover {
    background:#E8E3E3;
}

nav.menu-desktop ul li{
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
}

nav.menu-desktop ul li a {
    color: #fff;
}

.botao-header-cadastro {
    background: #E8E3E3;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    color: #A36986;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 15px 30px 12px;
    transition: .3s;
    cursor: pointer;
}

.botao-header-cadastro:hover {
    background: #AE9BBA;
    color: #fff;    
}

section#home-hero {
    background: url('../img/emprega_elas_home_hero.jpg') no-repeat 50% 50%;
    background-size: cover;
    height: 800px;
    position: relative;
}

div.overlay {
    background: rgba(0,0,0, .5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

section#home-hero .hero-content {
    width: 100%;
    max-width: 700px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

section#home-hero .hero-content h1 {
    color: #fff;
}

section#home-hero .hero-content h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    color: #fff;
}

section#home-hero .hero-content form {
    background: #fff;
    display: flex;
    border-radius: 5px;
    padding: 5px;
    margin-top: 30px;
    max-width: 540px;
}

section#home-hero .hero-content input#busca {
    padding-right: 15px;
    box-shadow: none;
}

section#home-hero .hero-content input.submit {
    background: #A36986;
    border: none;
    border-radius: 3px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1em;
    color: #fff;
    width: 40%;
    height: 40px;
    padding: 3px 0 0;
    transition: .3s;
}

section#home-hero .hero-content input.submit:hover {
    background: #AE9BBA;

}

main {
    min-height: 100vh;
}

section#home-sobre {
    background: #E8E3E3;
    padding: 80px 15px;
}

.form-container-acesso {
    border-radius: 5px;
    padding: 30px;
    background: #E8E3E3;
}

.form-container-acesso i {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #A36986;
    cursor: pointer;
}

.form-container-acesso h2 {
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
}

.form-container-acesso form {
    width: 100%;
    border: none !important;
}

.form-container-acesso form label {
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1em;
    margin-bottom: 10px;
}

.form-container-acesso form input {
    height: 40px;
    border: none !important;
}

.form-container-acesso form input.senha:after {
    content:'x';
}

.form-container-acesso form input:focus {
    border: none !important;
    box-shadow: 0 0 0 3px #a3698650;
}

.form-container-acesso form input[type='submit'] {
    background: #A36986;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    padding: 3px 30px 0;
    height: 40px;
    width: 100%;
    border: none !important;
    border-radius: 3px;
    transition: .3s;
}

.form-container-acesso form input[type='submit']:hover {
    background: #AE9BBA;
}

.form-container-acesso form input[type='submit']:focus {
    border: none !important;
    box-shadow: 0 0 0 3px #a3698650;
}

.form-container-acesso h2.link-cadastro {
    font-size: 1.1em;
    margin: 20px 0 0;
}

.form-container-acesso p.recuperar-senha {
    margin-top: 10px;
    font-size: 0.9em;
    text-align: center;
}

.form-container-acesso p.recuperar-senha a {
    color: #A36986;
}

.form-container-acesso h2.link-cadastro a {
    color: #A36986;
    text-decoration: underline;
    margin-top: 20px;
}

section#home-cadastrar {
    padding: 80px 15px;
    background: url('../img/home_candidatas.svg') no-repeat 5% bottom , url('../img/home_empresas.svg') no-repeat 95% bottom;
    background-size: 350px;
}

section#home-cadastrar h3 {
    color: #A36986;
}

section#home-destaques {
    background: #EA8D8F;

    padding: 80px 15px;    
}

section#home-vagas-recentes {
    background: #EA8D8F;
    padding: 80px 15px;
}

section#home-vagas-recentes h2 {
    color: #fff;
}

section#home-empresas {
    background: #E8E3E3;
    padding: 80px 15px;
}

section#home-empresas h2 {
    font-size: 2em;
    color: #A36986;
}

section#home-empresas .intro {
    max-width: 500px;
    margin: 0 auto;
}

.cta-home-empresas p {
    font-size: 1.3em;
}

section#home-cta-cadastro {
    background-color: #AE9BBA;
    background-image: url(../img/emprega_elas_home_cadastre_se_ja.jpg);
    background-size: 50%;
    background-position:100%;
    background-repeat: no-repeat;
    padding: 115px 15px;
}

.home-cta-cadastro-texto {
    max-width: 400px;
}

section#home-cta-cadastro h2 , section#home-cta-cadastro p {
    color: #fff;
}

section#home-cta-cadastro .botao-2 {
    color: #A36986;
    margin-top: 15px;
}

footer {
    background: #A36986;
    color:#fff;
}

footer .logo-footer a img {
    width: 100%;
    max-width: 350px;
}

footer ul li {
    padding: 5px 0;
}

footer ul li a {
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
}

footer ul li a:hover {
    color: #E8E3E3;
}

footer h3 {
    font-size: 1em;
    font-weight: 400;    
}

footer .apoio-footer img {
    padding: 0 15px;
}

footer .copy {
    background: #E8E3E3;
    color: #555;
    font-size: 0.75em;
    font-weight: 400;
    padding: 5px 0;
}

/*cards vagas */

.card-vaga {
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    width: 30%;
}

.card-vaga .dados-empresa-vaga .logo-empresa a {
    width: 50px;
    padding-bottom: 50px;
    display: block;
    background-position: 50% 50%;
    background-size:cover;
    border: 2px solid #E8E3E3;
    border-radius: 3px;
}

.card-vaga .dados-empresa-vaga .logo-empresa a:hover {
    border: 2px solid #AE9BBA;
}

.card-vaga .dados-empresa-vaga .nome-empresa-vaga {
    padding-left: 10px;
}

.card-vaga .dados-empresa-vaga .nome-empresa-vaga h3 {
    font-size: 1.1em;
}

.card-vaga .dados-empresa-vaga .nome-empresa-vaga h3 a {
    color: #A36986;
}

.card-vaga .dados-empresa-vaga .nome-empresa-vaga h3 a:hover {
    color:#EA8D8F;
}

.card-vaga .dados-empresa-vaga .nome-empresa-vaga h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.9em;
}

.card-vaga .modalidade-nivel {
    padding: 20px 0 5px;
}

.card-vaga .modalidade-nivel i {
    font-size: 20px;
    color: #A36986;
    margin-right: 5px;
}

.card-vaga .modalidade-nivel span {
    font-size: 0.9em;
}

.card-vaga .mais-info a.botao-1 {
    padding: 10px 30px 7px;
    font-size: 0.9em;
}

.card-empresa-carrossel {
    background: #fff;
    border-radius: 5px;
    padding: 10px;
}

.card-empresa-carrossel .logo-empresa-carrossel a {
    width: 80px;
    padding-bottom: 80px;
    display: block;
    background-position: 50% 50%;
    background-size:cover;
    border: 2px solid #E8E3E3;
    border-radius: 3px;
}

.card-empresa-carrossel .logo-empresa-carrossel a:hover {
    border: 2px solid #AE9BBA;
}

.card-empresa-carrossel .info-empresa-carrossel {
    padding-left: 10px;
}

.card-empresa-carrossel .info-empresa-carrossel h3.nome-empresa-carrossel {    
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1em;
}

.card-empresa-carrossel .info-empresa-carrossel span.ramo-empresa-carrossel ,
.card-empresa-carrossel .info-empresa-carrossel span.funcionarios-empresa-carrossel {
    font-size: 0.9em;
}

section#home-empresas .owl-nav {
    margin-top: 15px;
    font-size: 30px;
    text-align: center;
}

section#home-empresas .owl-nav button {
    margin: 0 5px;
    color: #A36986;
}

/* página cadastro */

main.cadastro {
    padding: 120px 0 0;
    min-height: unset;

}

main.cadastro > div {
    background: url('../img/home_candidatas.svg') no-repeat 0 bottom , url('../img/home_empresas.svg') no-repeat 100% bottom;
    background-size: 400px;
    min-height: 750px;
}

main.cadastro .container-form {
    margin-top: 30px;
}

main.cadastro .form-container-acesso.container-cadastro {
    border-radius: 0 5px 5px;
}

main.cadastro #cadastro-tabs .nav-link {
    color:#555;
    border: 1px solid #E8E3E3;
}

main.cadastro #cadastro-tabs .nav-link.active {
    background: #E8E3E3;
    border: 1px solid #E8E3E3;
}

