

main {
    min-height: 100vh;
}



.form-container-acesso {
    border-radius: 5px;
    padding: 30px;
    background: #E8E3E3;
}

.form-container-acesso h2 {
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
}

.form-container-acesso form {
    width: 100%;
    border: none !important;
}

.form-container-acesso form label {
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1em;
    margin-bottom: 10px;
}

.form-container-acesso form input {
    height: 40px;
    border: none !important;
}

.form-container-acesso form input.senha:after {
    content: 'x';
}

.form-container-acesso form input:focus {
    border: none !important;
    box-shadow: 0 0 0 3px #a3698650;
}

.form-container-acesso form input[type='submit'] {
    background: #A36986;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    padding: 3px 30px 0;
    height: 40px;
    width: 100%;
    border: none !important;
    border-radius: 3px;
    transition: .3s;
}

.form-container-acesso form input[type='submit']:hover {
    background: #AE9BBA;
}

.form-container-acesso form input[type='submit']:focus {
    border: none !important;
    box-shadow: 0 0 0 3px #a3698650;
}

.form-container-acesso h2.link-cadastro {
    font-size: 1.1em;
    margin: 15px 0 0;
}

.form-container-acesso p.recuperar-senha {
    margin-top: 10px;
    font-size: 0.9em;
    text-align: center;
}

.form-container-acesso p.recuperar-senha a {
    color: #A36986;
}

.form-container-acesso h2.link-cadastro a {
    color: #A36986;
    text-decoration: underline;
    margin-top: 20px;
}

section#home-cadastrar {
    padding: 80px 15px;
    background: url('../img/home_candidatas.svg') no-repeat 5% bottom, url('../img/home_empresas.svg') no-repeat 95% bottom;
    background-size: 350px;
}

section#home-cadastrar h3 {
    color: #A36986;
}

section#home-destaques {
    background: #EA8D8F;

    padding: 80px 15px;
}

section#home-vagas-recentes {
    background: #EA8D8F;
    padding: 80px 15px;
}

section#home-vagas-recentes h2 {
    color: #fff;
}

section#home-empresas {
    background: #E8E3E3;
    padding: 80px 15px;
}

section#home-empresas h2 {
    font-size: 2em;
    color: #A36986;
}

section#home-empresas .intro {
    max-width: 500px;
    margin: 0 auto;
}

.cta-home-empresas p {
    font-size: 1.3em;
}

section#home-cta-cadastro {
    background-color: #AE9BBA;
    background-image: url(../img/emprega_elas_home_cadastre_se_ja.jpg);
    background-size: 50%;
    background-position: 100%;
    background-repeat: no-repeat;
    padding: 115px 15px;
}

.home-cta-cadastro-texto {
    max-width: 400px;
}

section#home-cta-cadastro h2,
section#home-cta-cadastro p {
    color: #fff;
}

section#home-cta-cadastro .botao-2 {
    color: #A36986;
    margin-top: 15px;
}



/*cards vagas */

.card-vaga {
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    width: 30%;
}

.card-vaga .dados-empresa-vaga .logo-empresa a {
    width: 50px;
    padding-bottom: 50px;
    display: block;
    background-position: 50% 50%;
    background-size: cover;
    border: 2px solid #E8E3E3;
    border-radius: 3px;
}

.card-vaga .dados-empresa-vaga .logo-empresa a:hover {
    border: 2px solid #AE9BBA;
}

.card-vaga .dados-empresa-vaga .nome-empresa-vaga {
    padding-left: 10px;
}

.card-vaga .dados-empresa-vaga .nome-empresa-vaga h3 {
    font-size: 1.1em;
}

.card-vaga .dados-empresa-vaga .nome-empresa-vaga h3 a {
    color: #A36986;
}

.card-vaga .dados-empresa-vaga .nome-empresa-vaga h3 a:hover {
    color: #EA8D8F;
}

.card-vaga .dados-empresa-vaga .nome-empresa-vaga h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.9em;
}

.card-vaga .modalidade-nivel {
    padding: 20px 0 5px;
}

.card-vaga .modalidade-nivel i {
    font-size: 20px;
    color: #A36986;
    margin-right: 5px;
}

.card-vaga .modalidade-nivel span {
    font-size: 0.9em;
}

.card-vaga .mais-info a.botao-1 {
    padding: 10px 30px 7px;
    font-size: 0.9em;
}

.card-empresa-carrossel {
    background: #fff;
    border-radius: 5px;
    padding: 10px;
}

.card-empresa-carrossel .logo-empresa-carrossel a {
    width: 80px;
    padding-bottom: 80px;
    display: block;
    background-position: 50% 50%;
    background-size: cover;
    border: 2px solid #E8E3E3;
    border-radius: 3px;
}

.card-empresa-carrossel .logo-empresa-carrossel a:hover {
    border: 2px solid #AE9BBA;
}

.card-empresa-carrossel .info-empresa-carrossel {
    padding-left: 10px;
}

.card-empresa-carrossel .info-empresa-carrossel h3.nome-empresa-carrossel {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1em;
}

.card-empresa-carrossel .info-empresa-carrossel span.ramo-empresa-carrossel,
.card-empresa-carrossel .info-empresa-carrossel span.funcionarios-empresa-carrossel {
    font-size: 0.9em;
}

section#home-empresas .owl-nav {
    margin-top: 15px;
    font-size: 30px;
    text-align: center;
}

section#home-empresas .owl-nav button {
    margin: 0 5px;
    color: #A36986;
}