/*CSS Projeto Integrador - Emprega Elas*/

body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #555;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0 0 15px !important;
    padding: 0;
}

h1.margin-0 h2.margin-0, h3.margin-0, h4.margin-0, h5.margin-0, h6.margin-0 {
	margin: 0 !important;
}

h1, h2, h3  {
	line-height: 1.2em;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
}

h4, h5, h6 {
    line-height: 1.3em;
}

h1, h2, h3, h4, h5, h6  {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
}

h1.cap, h2.cap, h3.cap, h4.cap, h5.cap, h6.cap {
    text-transform: capitalize;
}

h1 {
    font-size: 3em;    
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h5 {
    font-size: 1.8em;
}

h6 {
    font-size: 1.5em;
}

p {
	line-height: 1.5em;
}

p:last-child {
	margin: 0 !important;
}

ul {
	margin: 0;
    padding: 0;
    list-style: none;
}

li {
	margin: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

*::placeholder {
    color: rgba(84, 84, 84, 0.75);
    font-size: 0.75em;
    font-style: italic;
}

span.chaves {
    position: relative;
    top: -0.05em;
}

.form-control {
    border: none;
}

header {
    background: #A36986;
    padding: 0 15px;
}

nav.menu-desktop ul li{
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
}

nav.menu-desktop ul li a {
    color: #fff;
}

.botao-header-cadastro {
    background: #E8E3E3;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    color: #A36986;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 15px 30px 12px;
    transition: .3s;
}

.botao-header-cadastro:hover {
    background: #AE9BBA;
    color: #fff;    
}

section#home-hero {
    background: url('../img/emprega_elas_home_hero.jpg') no-repeat 50% 50%;
    background-size: cover;
    height: 800px;
    position: relative;
}

div.overlay {
    background: rgba(0,0,0, .5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

section#home-hero .hero-content {
    width: 100%;
    max-width: 700px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

section#home-hero .hero-content h1 {
    color: #fff;
}

section#home-hero .hero-content h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    color: #fff;
}

section#home-hero .hero-content form {
    background: #fff;
    display: flex;
    border-radius: 5px;
    padding: 5px;
    margin-top: 30px;
    max-width: 540px;
}

section#home-hero .hero-content input#busca {
    padding-right: 15px;
    box-shadow: none;
}

section#home-hero .hero-content input.submit {
    background: #A36986;
    border: none;
    border-radius: 3px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1em;
    color: #fff;
    width: 40%;
    height: 40px;
    padding: 3px 0 0;
    transition: .3s;
}

section#home-hero .hero-content input.submit:hover {
    background: #AE9BBA;

}

main {
    min-height: 100vh;    
}

section#home-sobre {
    background: #E8E3E3;
    padding: 80px 0;
}

.form-container-acesso {
    display: flex;
    height: 100%;
}

.form-container-acesso form {
    width: 100%;
    max-width: 450px;
    background: #E8E3E3;
    padding: 30px;
    border-radius: 5px;
    height: fit-content;
    border: none !important;
}

.form-container-acesso form label {
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1em;
    margin-bottom: 10px;
}

.form-container-acesso form input {
    height: 40px;
    border: none !important;
}

.form-container-acesso form input.senha:after {
    content:'x';
}

.form-container-acesso form input:focus {
    border: none !important;
    box-shadow: 0 0 0 3px #a3698650;
}

.form-container-acesso form input[type='submit'] {
    background: #A36986;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    padding: 3px 30px 0;
    height: 40px;
    width: 100%;
    border: none !important;
    border-radius: 3px;
    transition: .3s;
}

.form-container-acesso form input[type='submit']:hover {
    background: #AE9BBA;
}

.form-container-acesso form input[type='submit']:focus {
    border: none !important;
    box-shadow: 0 0 0 3px #a3698650;
}
