<header>
    <div class="container-xl">
        <div class="row">
            <div class="col-3">
                <a href="/"><img src="assets/img/logotipo_emprega_elas.svg" alt="logotipo EmpregaElas"></a>
            </div>
            <div class="col-6">
                <nav role="navigation" class="h-100 menu-desktop d-flex align-items-center">
                    <ul class="w-100 d-flex justify-content-evenly">
                        <li><a routerLink="">Home</a></li>
                        <li><a routerLink="/candidatas">Para Você, Mulher!</a></li>
                        <li><a routerLink="/empresas">Para Empresas</a></li>
                        <li><a routerLink="/institucional">Institucional</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-3 d-flex align-items-center justify-content-end">
                <a class="botao-header-cadastro" data-bs-toggle="modal" data-bs-target="#modal-login">Login / Cadastro</a>
            </div>
        </div>
    </div>
</header>