.form-container-acesso {
    border-radius: 5px;
    padding: 30px;
    background: #E8E3E3;
}

.form-container-acesso h2 {
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
}

.form-container-acesso form {
    width: 100%;
    border: none !important;
}

.form-container-acesso form label {
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1em;
    margin-bottom: 10px;
}

.form-container-acesso form input {
    height: 40px;
    border: none !important;
}

.form-container-acesso form input.senha:after {
    content: 'x';
}

.form-container-acesso form input:focus {
    border: none !important;
    box-shadow: 0 0 0 3px #a3698650;
}

.form-container-acesso form input[type='submit'] {
    background: #A36986;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    padding: 3px 30px 0;
    height: 40px;
    width: 100%;
    border: none !important;
    border-radius: 3px;
    transition: .3s;
}

.form-container-acesso form input[type='submit']:hover {
    background: #AE9BBA;
}

.form-container-acesso form input[type='submit']:focus {
    border: none !important;
    box-shadow: 0 0 0 3px #a3698650;
}

.form-container-acesso h2.link-cadastro {
    font-size: 1.1em;
    margin: 15px 0 0;
}

.form-container-acesso p.recuperar-senha {
    margin-top: 10px;
    font-size: 0.9em;
    text-align: center;
}

.form-container-acesso p.recuperar-senha a {
    color: #A36986;
}

.form-container-acesso h2.link-cadastro a {
    color: #A36986;
    text-decoration: underline;
    margin-top: 20px;
}

.main-cadastro {
    padding: 120px 0 0;
    min-height: unset;

}

.main-cadastro > div {
    background: url('/assets/img/home_candidatas.svg') no-repeat 0 bottom, url('/assets/img/home_empresas.svg') no-repeat 100% bottom;
    background-size: 400px;
    min-height: 750px;
}

.main-cadastro .container-form {
    margin-top: 30px;
}

.main-cadastro .form-container-acesso.container-cadastro {
    border-radius: 0 5px 5px;
}

.main-cadastro #cadastro-tabs .nav-link {
    color: #555;
    border: 1px solid #E8E3E3;
}

.main-cadastro #cadastro-tabs .nav-link.active {
    background: #E8E3E3;
    border: 1px solid #E8E3E3;
}

@media screen and (max-width: 1366px) {
    .main-cadastro > div {
        background-size: 350px;
    }
}