/*CSS Projeto Integrador - Emprega Elas*/

h1, h2, h3, h4, h5, h6, p {
	margin: 0 0 15px !important;
    padding: 0;
}

h1.margin-0 h2.margin-0, h3.margin-0, h4.margin-0, h5.margin-0, h6.margin-0 {
	margin: 0 !important;
}

h1, h2, h3  {
	line-height: 1.3em;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
}

h4, h5, h6 {
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6  {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h5 {
    font-size: 1.8em;
}

h6 {
    font-size: 1.5em;
}

h1 {
    font-size: 1.3em;
}

p {
	line-height: 1.5em;
}

p:last-child {
	margin: 0 !important;
}

ul {
	margin: 0;
    padding: 0;
    list-style: none;
}

li {
	margin: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #555;
}

header {
    background: #A36986;
    padding: 0 15px;
}

nav.menu-desktop {
}

nav.menu-desktop ul {
}

nav.menu-desktop ul li{
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
}

nav.menu-desktop ul li a {
    color: #fff;
}

.botao-header-cadastro {
    background: #E8E3E3;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    color: #A36986;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 15px 30px 12px;
}

.botao-header-cadastro:hover {
    
}

main {
    height: 100vh;
    
}

.form-container-login {
    display: flex;
    height: 100%;
}

.form-container-login form#login {
    width: 100%;
    max-width: 450px;
    background: #E8E3E3;
    padding: 30px;
    border-radius: 5px;
    height: fit-content;
}

.form-container-login form#login input {
    border: none;
}

.form-container-login form#login input:focus {
    border: none;
    box-shadow: 0 0 0 3px #a3698650;
}

.form-container-login form#login input[type='submit'] {
    background: #A36986;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    padding: 3px 30px 0;
    height: 40px;
    border-radius: 3px;
    transition: .3s;
}

.form-container-login form#login input[type='submit']:hover {
    background: #AE9BBA;
}
