<div class="col-4">
    <div class="card-formacao d-flex flex-column">
        <h3 class="mb-1">Nome Instituição</h3>
        <h4>Curso - Formação</h4>
        <div class="periodo-curso">
            Início -Término
        </div>
        <div class="info-formacao">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Etiam commodo id felis ut mollis. Aenean sit amet dignissim eros.
                Suspendisse venenatis ligula vel vulputate venenatis.</p>
        </div>
    </div>
</div>