<div class="menu-painel d-flex flex-column align-items-center">
    <div class="header-menu-painel d-flex flex-column justify-content-center align-items-center">
        <div class="perfil-icon">
            <img src="/assets/img/perfil_candidata_icon.svg" />
        </div>
        <h2 class="raj">Nome Social</h2>
        <h3>Nome Completo</h3>
    </div>
    <div class="menu">
        <ul>
            <li><a href="#"><fa-icon [icon]="dadosPessoaisIcon"></fa-icon> Pessoais</a></li>
            <li><a href="#"><fa-icon [icon]="escolaridadeIcon"></fa-icon>Dados Acadêmicos</a></li>
            <li><a href="#"><fa-icon [icon]="experienciaIcon"></fa-icon>Experiência Profissional</a></li>
            <li><a href="#"><fa-icon [icon]="inscricoesIcon"></fa-icon>Inscrições Realizadas</a></li>
            <li><a href="#"><fa-icon [icon]="segurancaIcon"></fa-icon>Segurança da Conta</a></li>
            <li><a href="#"><fa-icon [icon]="logoutIcon"></fa-icon>Logout</a></li>
        </ul>
    </div>
</div>
