<section class="main-title d-flex align-items-center">
    <div class="overlay"></div>
    <div class="main-title-content container-xl">
        <div class="row">
            <h1 class="raj text-center">Para você, MULHER!</h1>
        </div>
    </div>
</section>
<section class="main-content">
    <div class="container-xl">
        <div class="row align-items-center">
            <h2 class="raj text-center grafite">O mercado de TI espera por você!</h2>
            <div class="col-6 mt-3">
                <h2 class="raj">Como funciona?</h2>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus odio erat, finibus a accumsan in, consectetur id lectus.
                Sed justo ante, placerat eget risus pellentesque, vulputate scelerisque elit. Etiam in arcu iaculis, pulvinar enim sed, ullamcorper lorem.
                Nam maximus, nisl at finibus hendrerit, mi lorem laoreet sem, at eleifend magna augue vel turpis. Aenean eu est tortor.
                In vitae urna commodo, congue tellus in, tincidunt ex. Suspendisse sodales consequat tempus. Praesent vulputate lacus ut felis consequat, 
                at venenatis felis euismod. Etiam eget tellus dictum, convallis massa sed, mollis libero.</p>
                <p><strong>Cras risus nibh, faucibus a laoreet non, bibendum eu leo.</strong></p>
                <br />
                <a routerLink="/cadastro" class="botao-1">Faça seu cadastro agora mesmo!</a>
            </div>
            <div class="col-6">
                <div class="img-candidatas">
                    <img src="/assets/img/candidatas.svg">
                </div>
            </div>
            
        </div>
    </div>
</section>