.card-empresa-carrossel {
    background: #fff;
    border-radius: 5px;
    padding: 10px;
}

.card-empresa-carrossel .logo-empresa-carrossel a {
    width: 80px;
    padding-bottom: 80px;
    display: block;
    background-position: 50% 50%;
    background-size: cover;
    border: 2px solid #E8E3E3;
    border-radius: 3px;
}

.card-empresa-carrossel .logo-empresa-carrossel a:hover {
    border: 2px solid #AE9BBA;
}

.card-empresa-carrossel .info-empresa-carrossel {
    padding-left: 10px;
}

.card-empresa-carrossel .info-empresa-carrossel h3.nome-empresa-carrossel {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1em;
}

.card-empresa-carrossel .info-empresa-carrossel span.ramo-empresa-carrossel,
.card-empresa-carrossel .info-empresa-carrossel span.funcionarios-empresa-carrossel {
    font-size: 0.9em;
}