<div class="card-empresa-carrossel item d-flex">
    <div class="logo-empresa-carrossel">
        <a href="#link-empresa"
            style="background-image:url('https://media-exp1.licdn.com/dms/image/C4E0BAQEVEWVqVIMung/company-logo_200_200/0/1650319092343?e=1668038400&v=beta&t=rhFPM8y7W6Yc8u0-YcPgjLCOr85WMU3ZUALlzmYgnzY');">
        </a>
    </div>
    <div class="info-empresa-carrossel d-flex flex-column justify-content-evenly">
        <h3 class="nome-empresa-carrossel m-0">Inserir nome da empresa</h3>
        <span class="ramo-empresa-carrossel">Inserir ramo da empresa</span>
        <span class="funcionarios-empresa-carrossel">inserir num-funcionários empresa</span>
    </div>
</div>