<div class="painel-content container">
    <h1 class="raj text-center">Dados Pessoais</h1>
    <form id="dados-pessoais" class="row g3 mt-5">        
            <div class="col-md-6 mb-3">
                <label for="nome-candidata">Nome Completo:</label>
                <input class="form-control" id="nome-candidata" type="text" name="nome-candidata"
                    placeholder="Informe seu nome completo" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="nome-social-candidata">Nome Social:</label>
                <input class="form-control" id="nome-social-candidata" type="text" name="nome-social"
                    placeholder="Como gostaria de ser chamada?" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="cpf-candidata">CPF:</label>
                <input class="form-control" id="cpf-candidata" type="text" name="cpf-candidata"
                    placeholder="Informe seu CPF" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="nascto-candidata">Data de Nascimento:</label>
                <input class="form-control" id="nascto-candidata" type="text" name="nascto-candidata"
                    placeholder="01/01/2001" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="cpf-candidata">CPF:</label>
                <input class="form-control" id="cpf-candidata" type="text" name="cpf-candidata"
                    placeholder="Informe seu CPF" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="nascto-candidata">Data de Nascimento:</label>
                <input class="form-control" id="nascto-candidata" type="text" name="nascto-candidata"
                    placeholder="01/01/2001" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="raca-candidata">Raça:</label>
                <select class="form-select" id="raca-candidata" type="text" name="raca-candidata" required>
                    <option value="">Selecionar</option>
                </select>
            </div>
            <div class="col-md-6 mb-3">
                <label for="sex-bio-candidata">Data de Nascimento:</label>
                <input class="form-control" id="sex-bio-candidata" type="text" name="sex-bio-candidata"
                    placeholder="01/01/2001" required>
            </div>
    </form>
</div>
